*.bak
*.class
.metadata/*
.settings/*
sems_client/bin/*
sems_server/bin/*
.classpath
.project
*.iml
*.ipr
*.iws
*/out/*
*META*
sems_server/src/data/dbutil/*.mwb
*JavaProject1*
*JavaProject2*
sems_server/*.mf
sems_client/*.mf
