<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///business/model.ecore"
            class="business.model.ModelPackage"
            genModel="src/input/Project.genmodel"/>
   </extension>

</plugin>
